git-upload-rss-feed-news.json
{
  "name": "RSS Feed News",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -720,
        -160
      ],
      "id": "408b1856-1a5d-4dd6-ac8a-77388b326423",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -496,
        -256
      ],
      "id": "03eec946-2be8-49cb-ab4c-469905d01b96",
      "name": "AI News Feed"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -48,
        -160
      ],
      "id": "2d57dc3d-fb0b-48ad-8721-d6be4b08b211",
      "name": "Data Aggregator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI News Summarizer handling multiple categories.Use only the provided items.Do not invent content.Organize the category and provide up to 3 AI news and up to 3broader technology news.Format exactly like this :Hi there, Here's your tech brief: AI NEWS ===== For each Ai-related item ,output:HEADLINE IN ALL CAPS SUmmary in 1-2 Sentences . Link:<paste here> TECHNOLOGY UPDATES ===== For each broder technolgy related item,output: HEADLINE IN ALL CAPS Summary in 1-2 Sentences. Link:<paste here> Keep it professional,concise and easy to read\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        -160
      ],
      "id": "7b522712-f024-42e2-98e0-0676305d9d82",
      "name": "AI Summarization Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        248,
        64
      ],
      "id": "3a3cdf4a-2fd1-4ade-b651-851068c254b4",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -496,
        -64
      ],
      "id": "10df3c49-fa4c-492e-92c4-50f07b217603",
      "name": "Tech Updates Feed"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -272,
        -160
      ],
      "id": "e0ce8717-35f9-4301-b333-be3b682af273",
      "name": "Data Merger"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI News Feed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tech Updates Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI News Feed": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregator": {
      "main": [
        [
          {
            "node": "AI Summarization Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Summarization Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarization Model": {
      "main": [
        []
      ]
    },
    "Tech Updates Feed": {
      "main": [
        [
          {
            "node": "Data Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Merger": {
      "main": [
        [
          {
            "node": "Data Aggregator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}